<form ng-submit="updateCustomer(customer)">
    <h3>Customer details</h3>
    <div class="form-group">
        <label for="firstname">Firstname: </label>
        <input ng-disabled="!editable" id="firstname" class="form-control"  type="text" ng-model="customer.firstname"  />
    </div>
    <div class="form-group">
        <label for="lastname">Lastname:</label>
        <input ng-disabled="!editable" id="lastname" class="form-control" type="text" ng-model="customer.lastname"  />
    </div>
    <div class="form-group">
        <label for="address">Address:</label>
        <input ng-disabled="!editable" id="address" class="form-control" type="text" ng-model="customer.address"  />
    </div>
    <div class="form-group">
        <label for="phone">Phone:</label>
        <input ng-disabled="!editable" id="phone" class="form-control" type="tel" ng-model="customer.phone"  />
    </div>
    <div class="form-group">
        <label>Sex:</label>

        <label ng-disabled="!editable" class="radio-inline"><input type="radio" ng-model="customer.sex" checked value="M" name="sex">M</label>
        <label ng-disabled="!editable" class="radio-inline"><input type="radio" ng-model="customer.sex" value="F" name="sex">F</label>

    </div>
    <div class="form-group float-left">
        <button ng-show="!editable" type="button" class="btn btn-primary btn-sm" editable>Edit</button>
        <input ng-show="editable" type="submit" class="btn btn-success btn-sm" value="Save" />
    </div>
</form>
