<div class="container lists">
    <h2>Product list</h2>
    <div class="input-group mb-2 mb-sm-0">
        <div class="input-group-addon">
            <i class="fa fa-search fa-lg" aria-hidden="true"></i></div>
        <input class="form-control" type="text" id="search" ng-model="$ctrl.searchQuery"
               placeholder="Search a product..."/>
    </div>
    <ul class="list-group list-margin">
        <li ng-repeat="product in $ctrl.product_list | filter: $ctrl.searchQuery" class="list-group-item">

            <div class="container-fluid">
                <div class="row">
                    <div class="float-pills my-col-1">{{product.name}}</div>
                    <div class="float-pills my-col-1">{{product.price | currency}}</div>
                </div>
            </div>
            <product-details class="ng-hide animation-show-hide" ng-show="product.showDetails"
                             product="product"></product-details>
            <span class="float-right">
                <a ng-click="$ctrl.showDetails(product)"
                   ng-class="{'btn-primary':!product.showDetails , 'btn-danger':product.showDetails}" class="btn btn-sm"
                   href="#">
					<i ng-class="{'fa-eye':!product.showDetails, 'fa-eye-slash':product.showDetails}" class="fa fa-lg"
                       aria-hidden="true"></i></a>
			</span>
        </li>
    </ul>
    <div class="form-group float-right">
        <a ng-click="$ctrl.visible()" class="btn btn-sm  btn-success" href="#">
            <i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
        <a ng-click="$root.refreshProducts()" class="btn btn-sm  btn-primary" href="#">
            <i class="fa fa-refresh fa-lg" aria-hidden="true"></i></a>
    </div>
</div>